.card {
    position: relative;
    background-color: var(--olive);
    margin: 1rem;
    padding: 1rem;
    color: white;
    width: 15rem;
    line-height: 2;
    padding-bottom: 2.5rem;
}

.card > img {
    position: absolute;
    left: 65%;
    bottom: 0;
    width: 5rem;
    height: 5rem;
    border-radius: 50% 50%0 50%;
    outline: 8px solid var(--lemon);
}

.card span {
    color: var(--lemon);
}