.special {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20rem;
    margin: 1rem;
    box-shadow: 0 4px 12px rgba(0,0,0,.5);
    border-radius: 1.5rem;
}

.special > img {
    border-radius: 1.5rem 1.5rem 0 0;
    z-index: 10;
}

.special > img::selection {
    background-color: var(--lemon);
}

.article {
    background-color: var(--stone);
    width: 20rem;
    border-radius: 0 0 1.5rem 1.5rem;
    padding: 1rem;
}

/* Dish name */
.article > h2 {
    color: var(--olive);
    font-family: var(--karla);
    font-size: 1.25rem;
    font-weight: 700;
}

/* Description */
.article > p {
    font-family: var(--karla);
}

.article > p:first-of-type {
    margin-block: 0.5rem;
    line-height: 1.5;
}

/* Price */
.article > p:nth-of-type(2) {
    color: var(--lemon);
    font-weight: 900;
    font-size: 1.75rem;
    text-align: right;
    margin-top: -1.5rem;
    background: -webkit-linear-gradient(
        289deg,
        rgba(244, 206, 20, 1) 0%,
        rgba(244, 206, 20, 1) 79%,
        rgba(253, 247, 216, 1) 82%,
        rgba(244, 206, 20, 1) 85%,
        rgba(244, 206, 20, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.article > *::selection {
    background-color: var(--olive);
    color: var(--stone);
}