.footer {
    background-color: var(--olive);
    padding: 1rem;
    font-family: var(--karla);
    color: white;
}

.footer > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 1rem;
}

.footer img {
    width: 5rem;
    align-self: center;
    margin-top: 0.25rem;
}

.footer img::selection {
    background-color: var(--lemon);
}

.newsletter > label {
    display: inline-block;
    font-family: var(--markazi);
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--stone);
    line-height: 0.75;
    margin-bottom: 0.5rem;
}

/* Text box */
.newsletter input:first-of-type {
    border: 2px solid white;
    background-color: var(--stone);
    padding: 10px;
    border-radius: 0.5rem;
    margin: 0 0.5rem 0.5rem 0;
    outline: none;
}

.newsletter input:first-of-type:focus {
    border-color: var(--lemon);
}

/* Sign up button */
.newsletter input:last-of-type {
    font-weight: 900;
    color: var(--olive);
    padding: 0.75rem 1.25rem;
    border-radius: 0.25rem;
    box-shadow: 0 0.25rem 1rem rgba(0,0,0,0.5);
    background-color: var(--stone);
    transition:
        color 0.1s ease,
        background-color 0.1s ease,
        border-radius 0.1s ease;
}

.newsletter input:last-of-type:hover {
    color: var(--lemon);
}

.newsletter input:last-of-type:active {
    color: var(--stone);
    background-color: var(--olive);
}

.socialMediaLinks {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 1rem;
}

.socialMediaLinks svg {
    transition: filter 0.3s ease;
}

.socialMediaLinks svg:hover {
    filter: drop-shadow(0 2px 0.25rem rgba(0,0,0,0.75));
}

.linkSection h2 {
    color: var(--lemon);
    font-size: 1.125rem;
    font-weight: 500;
}

.linkSection a {
    line-height: 2;
}

.linkSection a:hover {
    text-decoration: underline;
}

.newsletter label::selection,
.newsletter input::selection,
.linkSection h2::selection,
.linkSection a::selection {
    background-color: var(--lemon);
    color: var(--olive);
}


.linkSection a::selection {
    /* Emulate a font-weight unavailable for the pseudoclass */
    text-shadow:
        -0.25px -0.25px 0 var(--olive),
        0.25px -0.25px 0 var(--olive),
        -0.25px 0.25px 0 var(--olive),
        0.25px 0.25px 0 var(--olive);
}

@media screen and (min-width: 513px) {
    .footer > div {
        flex-direction: row;
        justify-content: space-evenly;
        max-width: 1200px;
        margin: 0 auto;
    }
}

