.navBar {
    display: inline-flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    background: white;
    z-index: 20;
}

.mobile {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: block;
    fill: var(--olive);
    width: 40px;
    height: 40px;
    margin: 0.25rem;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.menu:active {
    background-color: var(--lemon);
    border-radius: 50%;
}

.links {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    display: none; /* Hide initially on mobile devices */
    min-height: fit-content;
}

.open {
    display: flex;
}

.link {
    padding: 1rem;
    transition:
        color 0.1s ease,
        background-color 0.1s ease,
        border-radius 0.1s ease;
}

.linkPadding {
    padding: 1rem;
}

.link:hover {
    background-color: var(--lemon);
    font-weight: 600;
}

.link:active {
    color: var(--lemon);
    background-color: var(--olive);
    border-radius: 1rem;
}

.navbarBtn {
    background-color: var(--lemon);
    border-radius: 2rem;
    padding: 0.75rem 1.5rem;
    font-weight: 600;
    text-wrap: nowrap;
    transition: box-shadow 0.2s ease;
}

.navbarBtn:hover {
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
    border-radius: 2rem;
    padding: 0.75rem 1.5rem;
    font-weight: 600;
    text-wrap: nowrap;
}

@media screen and (min-width: 769px) {
    .navBar {
        flex-direction: row;
    }

    .menu {
        display: none; /* Hide menu toggle on desktops */
    }

    .navbarBtn {
        margin-inline-start: 1rem;
    }

    .links {
        flex-direction: row;
        display: flex;
        justify-content: flex-end;
    }

    .linkPadding {
        padding: 0rem;
    }
}