.padding {
    padding: 1rem;
}

.flex {
    display: flex;
}

.flexCol {
    flex-direction: column;


    @media screen and (min-width: 769px) {
        flex-direction: row;
    }
}

.justify {
    justify-content: space-between;
}